@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 2;
  background-color: #0a1d37;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

small,
.grettings {
  color: grey;
  font-weight: 700;
  letter-spacing: 2px;
}

.btn button {
  border-radius: 5px;
  color: white;
  margin-top: 3%;
  border: none;
  cursor: pointer;
  font-weight: 700;
  padding: 2% 5%;
  border: 2px solid white;
  background-color: transparent;
}

.git_btn button {
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  border: 2px solid black;
  background-color: transparent;
}

.project_btn button {
  padding: 2% 7%;
  margin-top: 5%;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-weight: 700;
}

.btn button:hover,
.project_btn button:hover {
  background-color: #ffc93c;
  color: black;
}

.git_btn button:hover {
  background-color: white;
}

img {
  width: 100%;
}

.hero_svg {
  width: 400px;
  margin-left: auto;
}

.social_icons {
  width: 30px;
}

.Navbar__Link-toggle {
  display: none;
  width: 60px;
}

.Navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: fixed;
  padding: 1% 5%;
  font-weight: 700;
  width: 100%;
  z-index: 2;
}

.Navbar__Link-brand {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.Navbar__Link {
  padding: 0 3%;
}
.Navbar__Link a {
  position: relative;
  font-size: 15px;
}
.Navbar__Link a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 3px solid #ffc93c;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  height: 23px;
  width: 0;
}
.Navbar__Link a:hover::after {
  width: 100%;
}

.Navbar__Items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* Hero sectiong styling */
.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15% 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15%;
  padding: 15% 5%;
}
.hero h1 {
  font-size: 2rem;
  line-height: 80px;
}

/* About section styling */
#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15%;
  padding: 5%;
}
#about .myAvatar {
  position: absolute;
  top: 57rem;
  left: 6rem;
  width: 300px;
}
#about .design {
  position: relative;
  border: 5px solid #ffc93c;
  width: 300px;
  height: 400px;
}
#about p {
  padding: 20px 0;
}

/* Skill section styling */
#skill {
  padding: 5%;
}
#skill h1 {
  text-align: center;
  padding-bottom: 2%;
}

#skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
}

#progress {
  background-color: grey;
  border-radius: 13px;
  height: 10px;
  width: 500px;
  padding: 0;
}

#progress::after {
  content: "";
  display: block;
  background-color: #ffc93c;
  width: 99%;
  height: 100%;
  border-radius: 9px;
}

.progressbar {
  padding: 10px 0;
}
.progressbar p {
  color: grey;
  font-weight: 700;
  padding-bottom: 5px;
}

.css #progress::after {
  width: 80%;
}

.jquery #progress::after {
  width: 50%;
}

.javascript #progress::after {
  width: 55%;
}

.bootstrap #progress::after {
  width: 90%;
}

.node #progress::after {
  width: 50%;
}

/* Services styling */
#service-wrapper {
  padding: 5%;
  text-align: center;
}
#service-wrapper .paragraph {
  width: 50%;
  margin: auto;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5%;
  padding: 5% 0;
}
.services img {
  width: 60px;
  padding-bottom: 10px;
}
.services p {
  color: grey;
  padding: 20px 0;
}

.service-grid {
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px 30px;
  cursor: pointer;
}

.service-grid:hover {
  background-color: white;
  color: black;
}

/* Projects styling */
#projects {
  padding: 0 5%;
  text-align: center;
}
#projects h1 {
  padding-bottom: 20px;
}

.project-links {
  width: 20px;
}

.project-details {
  padding: 10px 15px;
}

.project_images {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.inner-project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.links_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5% 1fr 5% 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  text-align: left;
  padding: 1% 0;
}

.gallery_items {
  border: 2px solid white;
  border-radius: 10px;
}

.get_in_touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3%;
  padding: 4% 0;
  margin: 5% 0;
  background-color: #ffc93c;
  font-weight: 700;
  color: black;
}
.get_in_touch p {
  font-size: 1.5rem;
}

/* Footer styling */
footer {
  padding: 3% 0;
  text-align: center;
}

/* Footer social links icons */
.social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.social_icons {
  width: 30px;
}

@media only screen and (max-width: 768px) {
  body {
    max-width: 100%;
  }

  .Navbar__Items,
.Navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .Navbar__Items {
    display: none;
    background-color: white;
    width: 100%;
    margin-top: 5%;
    padding: 5% 0;
    border-radius: 10px;
  }

  .Navbar__Link-brand {
    font-size: 1.5rem;
    margin-top: 1%;
  }

  .Navbar__Link a {
    color: black;
    padding: 5% 0;
  }

  .Navbar__ToggleShow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .Navbar__Link-toggle {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    top: 10px;
  }

  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    padding: 30% 5% 5% 5%;
  }

  .hero h1 {
    font-size: 2rem;
    line-height: 40px;
  }

  .hero_svg {
    max-width: 70%;
    margin: auto;
  }

  p,
.stack {
    font-size: 16px;
  }

  h1 {
    font-size: 2rem;
  }

  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 10% 0;
  }
  #about .myAvatar {
    max-width: 80%;
    top: 41rem;
    left: 11%;
  }
  #about .design {
    width: 300px;
    height: 390px;
    left: -5%;
    border: 5px solid #ffc93c;
  }

  .about-details {
    padding: 20% 5% 5% 5%;
  }

  .btn button {
    padding: 5% 10%;
  }

  #skill-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5% 0;
  }

  .skill_paragraph {
    text-align: center;
  }

  #progress {
    width: 100%;
  }

  #service-wrapper .paragraph {
    width: 100%;
  }

  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3% 0;
  }

  .service-grid {
    margin: 5% 0;
  }

  .gallery {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    gap: 2%;
    padding: 3%;
  }

  .get_in_touch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15% 0 5% 0;
  }

  .git_btn button {
    font-weight: 900;
    margin: 10px 0;
  }

  .project_btn button {
    margin-top: 80%;
    padding: 5% 10%;
  }

  .social_icons {
    width: 30px;
  }

  footer {
    padding: 5%;
  }
}