@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-display: 'Satoshi', 'sans-serif';
  --breakpoint-3xl: 1920px;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --color-primary: '#0EA5E9';
  --color-nav: '#f8fafc';
  --color-dark: '#1e293b';
  --color-bordercolor: #e0e1dd;
  --color-btn-primary: #e5e5e5;
  --color-gray: #e5e5e5;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

:root {
  --font-display: 'Satoshi', 'sans-serif';
  --breakpoint-3xl: 1920px;
  --color-primary: #0ea5e9;
  --color-nav: #f8fafc;
  --color-dark: #1e293b;
  --color-bordercolor: #e0e1dd;
  --color-btn-primary: #e5e5e5;
  --color-gray: #e5e5e5;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

.dark {
  background-color: var(--color-dark);
  color: var(--color-nav);
}

.text-gradient {
  background-image: linear-gradient(to right, #e70faa, #00c0fd);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  fallback: #000;
}

.logo {
  font-family: 'Pacifico', cursive;
}
