@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Font 
$primaryFont: 'Roboto',
sans-serif;
$secondaryFont: 'Josefin Sans',
sans-serif;

// Color
$bgColor: #011925;
$textColor: #E2E4E5;
$linkColors: #0F2C67;


body {
    font-family: $primaryFont;
    line-height: 2;
    background-color: $bgColor;
    scroll-behavior: smooth;
    padding: 2% 5%;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

// Navbar 
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Navbar_link_brand {
        font-size: 1.5rem;
        font-family: $secondaryFont;
        font-weight: 700;
        
        a {
            color: white;
        }
    }

    .Navbar_link_toggle {
        display: none;

        img {
            filter: brightness(0) invert(1);
        }
    }

    .Navbar_items a{
        padding: 0 20px;
        font-weight: 700;
        position: relative;
        color: white;

        &:hover {
            color: $textColor;
        }
    }
}

// Hero 
.hero {
    padding: 10% 0 5% 0;

    .greetings {
        font-family: $secondaryFont;
        font-size: 20px;
    }

    h1 {
        width: 60%;
        font-size: 5rem;
        line-height: 80px;
        padding: 1% 0;
        color: white;
    }

    p {
        width: 50%;
        color: $textColor;
    }

    button {
        background: transparent;
        border: 1px solid $textColor;
        padding: 15px 40px;
        margin-top: 3%;
        cursor: pointer;

        &:hover {
            background-color: $linkColors;
        }
    }
}

// About
.about_wrapper {
    padding: 5% 0;

    h1 {
        position: relative;
        font-family: $secondaryFont;
        padding: 10px 0;

        &::after {
            content: "";
            position: absolute;
            top: 2%;
            left: 13%;
            width: 15%;
            height: 40px;
            border-bottom: 1px solid $textColor;
        }
    }

    .about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .details {
            position: relative;

            p {
                padding: 10px 0;
                color: $textColor;
            }

            .stack {
                padding: 0 20px;
                font-family: monospace;
                font-size: 15px;
                color: $textColor;

                ul {
                    list-style-type: square;
                }
            }

            img {
                max-width: 300px;
                margin-left: 35%;
            }

            .design {
                width: 310px;
                height: 320px;
                right: 18%;
                top: 7%;
                position: absolute;
                border: 2px solid $textColor;
                z-index: -2;
            }
        }
    }
}

// Work 
.Work {
    padding: 2% 0 5% 0;

    h1 {
        position: relative;
        font-family: $secondaryFont;
        padding: 10px 0;

        &::after {
            content: "";
            position: absolute;
            top: 2%;
            left: 8%;
            width: 15%;
            height: 40px;
            border-bottom: 1px solid $textColor;
        }
    }

    button {
        cursor: pointer;
        margin-left: 40%;
        margin-top: 8%;
        width: 200px;
        font-size: 17px;
        padding: 10px 20px;
        border: 1px solid $textColor;
        background: transparent;

        &:hover {
            background-color: $linkColors;
        }
    }

    .work_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5%;
        padding: 2% 0;

        .items {
            width: 380px;
            padding: 15px 0;
            border: 1px solid $textColor;

            img {
                max-width: 100%;
                margin-top: -3%;
            }

            .work_details {
                display: flex;
                flex-direction: column;
                padding: 15px;
                position: relative;
                top: -15px;
                
                p {
                    padding: 5% 0;
                    color: $textColor;
                }

                .work_header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h4 {
                        font-family: $secondaryFont;
                        width: 70%;
                    }
                }

                .links_icon {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 15px;

                    a img {
                        max-width: 22px;
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
}

// Skills 
.skills_wrapper {
    h1 {
        position: relative;
        font-family: $secondaryFont;

        &::after {
            content: "";
            position: absolute;
            top: -10%;
            left: 8%;
            width: 15%;
            height: 40px;
            border-bottom: 1px solid $textColor;
        }
    }

    .skills {
        padding: 2% 5%;

        ul {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 20px;
            column-gap: 20px;
            
            li {
                padding: 15px 10px;
                border: 1px solid $textColor;
                text-align: center;
            }
        }
    }
}

//Work 
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 5% 0;
    text-align: center;

    h1 {
        font-size: 3.5rem;
        font-family: $secondaryFont;
    }

    p {
        font-size: 17px;
        color: $textColor;
    }

    button {
        margin: 5% 0;
        padding: 10px 30px;
        font-size: 18px;
        border: 1px solid $textColor;
        background: transparent;

        &:hover {
            background-color: $linkColors;
        }
    }

}

// Footer
.footer {
    .grid {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p a {
            color: $linkColors;

            &:hover {
                opacity: 100%;
            }
        }

        .social_links {
            padding: 20px 0;
            a {
                padding: 0 10px;
            }

            img {
                width: 25px;

                &:hover {
                    filter: grayscale(100%);
                }
            }
        }
    }
}

// Mobile Responsive 
@media only screen and (min-width:321px) and (max-width:768px) {
    .Navbar {
        flex-direction: column;
        align-items: flex-start;

        .Navbar_items {
            display: none;
            flex-direction: column;
            padding: 5% 0;
            width: 100%;

            a {
                padding: 2% 0;

                &:hover {
                    background-color: orangered;
                    color: white;
                    width: 100%;
                    padding: 2%;
                    transition: 0.3s ease-in-out;
                }
            }
        }

        .Navbar_link_brand {
            font-size: 1.3rem;
            margin-top: 10px;
        }

        .Navbar_link_toggle {
            display: initial;
            align-items: flex-end;
            position: absolute;
            top: 19px;
            right: 5%;
            cursor: pointer;            
        }

        .Navbar__ToggleShow {
            display: flex;
        }
    }

    .hero {
        h1 {
            font-size: 2.5rem;
            width: 100%;
            line-height: 55px;
        }

        p {
            width: 100%;
        }
    }

    .about_wrapper {
        h1 {
            &::after {
                left: 40%;
                width: 30%;
            }
        }

        .about {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;

            .details {
                padding-top: 10%;

                img {
                    max-width: 200px;
                    margin-left: 15%;
                }

                .design {
                    width: 210px;
                    height: 230px;
                    right: 0;
                }

                p {
                    padding: 5% 0;
                }

                .stack {
                    font-size: 14px;
                }
            }

            .image_cont {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
            }
        }
    }

    .Work {
        button {
            margin-left: 23%;
            margin-top: 200px;
        }

        h1 {
            &::after {
                left: 25%;
                width: 40%;
            }
        }

        .work_grid {
            grid-template-columns: auto;
            row-gap: 1%;
            align-items: center;
            justify-content: center;

            .items {
                width: 100%;
            }
        }
    }

    // Skills 
    .skills_wrapper{
        padding: 5% 0;

        h1 {
            padding-bottom: 20px;

            &::after {
                left: 25%;
                width: 40%;
            }
        }

        .skills {
            ul {
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;

                li {
                    border: 1px solid $textColor;
                }
            }
        }
    }

    // Contact 
    .contact {
        width: 100%; 
        padding: 8% 0;

        button {
            margin-top: 10%;
        }
    }

    // Footer
    .footer {
        padding-top: 15px;
        .grid {
            flex-direction: column;
            padding: 10px 0;

            .social_links {
                padding: 10px;
            }
        }
    }
}
